@import 'https://fonts.googleapis.com/css?family=Roboto:300, 400, 500';
body {
  margin: 0 auto;
  max-width: 80em;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 0em 1em 4em 1em;
  color: #555;
}
h4 {
  color: #333;
}

.detail-page {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.car-image {
  margin-top: 2em;
  height: 400px;
  width: 600px;
}

.review-text {
  max-width: 60em;
  margin: 2em;
  font-size: 1.25em;
}

.search-button {
  height: 3em;
  width: 9em;
  font-size: 1.25em;
  cursor: pointer;
  color: white;
  background-color: #2f4f4f;
  border-radius: 1em;
}

.search-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 20em;
  height: 15em;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: silver;
}

select {
  width: 10em;
  outline: 0;
  overflow: hidden;
  height: 30px;
  background: #2c343c;
  color: white;
  border: #2c343c;
  padding: 5px 3px 5px 10px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 10px;
  font-size: 1.25em;
}

select option {
  border: 1px solid #000;
  background: #010;
  font-size: 1.25em;
}
